DB_HOST="postgres"
DB_PORT="5432"
DB_DATABASE="product_feedback"
DB_USERNAME="product_feedback"
DB_PASSWORD="product_feedback"

POSTGRES_DB="product_feedback"
POSTGRES_USER="product_feedback"
POSTGRES_PASSWORD="product_feedback"